[submodule "gfastats"]
	path = gfastats
	url = https://github.com/vgl-hub/gfastats
	branch = main
[submodule "gfalign"]
	path = gfalign
	url = https://github.com/vgl-hub/gfalign
	branch = main
[submodule "rdeval"]
	path = rdeval
	url = https://github.com/vgl-hub/rdeval
	branch = main
