[submodule "gfastats"]
	path = gfastats
	url = https://github.com/vgl-hub/gfastats.git
    ignore = untracked
    ignore = dirty
[submodule "rdeval"]
	path = rdeval
	url = https://github.com/vgl-hub/rdeval.git
    ignore = untracked
    ignore = dirty
 [submodule "gfalign"]
    path = gfalign
    url = https://github.com/vgl-hub/gfalign
    ignore = untracked
    ignore = dirty
